# This is Git's per-user configuration file.
[user]
	name = rg
	email = rasgroth@gmail.com
	
[core]
	excludesfile = ~/.config/git/.gitignore_global
	eol = native
	autocrlf = input

[push]
	default = matching
