# This is Git's per-user configuration file.
[user]
	name = rgr
	email = rgr@intomics.com
	
[core]
	excludesfile = /Users/rgr/.config/git/.gitignore_global
	eol = native
	autocrlf = input

[push]
	default = matching
